<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoTest">
        <!--一時的にnameをhomeactivytyに変更。元：main-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InfoTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".ResultActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".QuizActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".UnitActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".VideoMenuActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".ProfileActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".ProfileActivity2"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".ExchangeActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
    </application>

</manifest>